.vs/ajdr/v15/ipch/AutoPCH/b64d22e508f1c737/AREASYSTEM.ipch
.vs/ajdr/v15/ipch/AutoPCH/a7412097dfb3af0f/MODELSYSTEM.ipch
.vs/ajdr/v15/ipch/AutoPCH/91f593c3ed8af8/LINEWALLACTOR.ipch
.vs/ajdr/v15/ipch/AutoPCH/84619961873e1906/MODELFILECOMPONENT.ipch
.vs/ajdr/v15/ipch/AutoPCH/51646c86c78fbcef/ROOMACTOR.ipch
.vs/ajdr/v15/Solution.VC.db
.vs/ajdr/v15/Browse.VC.db
.vs/ajdr/v15/.suo
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SkirtingNode.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SkirtingNode.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ScreenShootAsyncTask.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ScreenShootAsyncTask.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SceneInteriorActor.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SceneInteriorActor.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SceneBaseActor.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SceneBaseActor.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SavedDataNode.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SavedDataNode.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SRulerWidget.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SRulerWidget.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/RulerWidget.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/RulerWidget.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/RulerLabelWidget.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/RulerLabelWidget.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/RoomNode.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/RoomNode.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/RoomData.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/RoomData.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/RoomActor.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/RoomActor.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ResourceMgr.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ResourceMgr.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ResourceItem.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ResourceItem.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/Resource.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/Resource.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/RegionNode.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/RegionNode.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/Protocal.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/Protocal.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ProjectPaper.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ProjectPaper.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ProjectMgr.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ProjectMgr.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ProductUtils.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ProductUtils.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ProductImageGenerator.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ProductImageGenerator.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ProductAsset.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ProductAsset.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/Product.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/Product.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/PointNode.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/PointNode.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ParentProductActor.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ParentProductActor.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/OrderFurnitureStruct.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/OrderFurnitureStruct.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/OpeningNode.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/OpeningNode.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/OpeningData.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/OpeningData.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/OpeningActor.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/OpeningActor.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/NodeTypes.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/NodeTypes.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/MontageMeshComponent.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/MontageMeshComponent.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ModelSystem.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ModelSystem.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ModelPartComponent.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ModelPartComponent.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ModelMaterial.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ModelMaterial.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ModelFileComponent.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ModelFileComponent.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ModelFile.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ModelFile.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ModelConfigLight.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ModelConfigLight.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ModelActor.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ModelActor.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/MaterialSaveGame.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/MaterialSaveGame.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/MaterialNode.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/MaterialNode.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/MaterialData.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/MaterialData.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/MapSystemBase.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/MapSystemBase.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/LineWallActor.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/LineWallActor.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/KaelTestWidget_spinbox.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/KaelTestWidget_spinbox.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/GroupActorBase.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/GroupActorBase.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/GlobalFunctionAboutWidget.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/GlobalFunctionAboutWidget.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/GeometryConfig.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/GeometryConfig.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/GameEditorPawn_Base.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/GameEditorPawn_Base.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/FurnitureOtherInfoNode.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/FurnitureOtherInfoNode.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/FurnitureNode.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/FurnitureNode.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/FurnitureModelActor.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/FurnitureModelActor.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/FileUtls.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/FileUtls.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ExtractMeshComponent.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ExtractMeshComponent.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ExtendedFunctionLibrary.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ExtendedFunctionLibrary.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/EditorMeshComponent.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/EditorMeshComponent.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/EditorGameInstance.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/EditorGameInstance.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/DrawComponent.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/DrawComponent.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/DownloadTask.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/DownloadTask.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/DataTypes.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/DataTypes.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/DataHandle.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/DataHandle.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/DRPlayerController.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/DRPlayerController.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/DRGameMode.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/DRGameMode.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/DCFBlueprintFunctionLibrary.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/DCFBlueprintFunctionLibrary.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/CornerData.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/CornerData.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/CornerActor.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/CornerActor.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/CompoundModelFileComponent.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/CompoundModelFileComponent.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/CompoundModelFile.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/CompoundModelFile.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/CgTypes.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/CgTypes.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/C_TextBox.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/C_TextBox.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/C_Build_Surface.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/C_Build_Surface.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/C_Build_Base.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/C_Build_Base.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/C_B_Vertex.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/C_B_Vertex.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/BlurWidget.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/BlurWidget.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/BlurSlotWidget.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/BlurSlotWidget.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/BaseNode.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/BaseNode.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AutoBuildAreaMsgBox.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AutoBuildAreaMsgBox.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AsyncTaskDownloadHttpFile.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AsyncTaskDownloadHttpFile.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AsyncHttpFile.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AsyncHttpFile.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AreaSystem.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AreaSystem.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AreaRelation.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AreaRelation.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AreaCollection.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AreaCollection.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AJHttpUploader.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AJHttpUploader.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AJBlueprintFunctionLibrary.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/AJBlueprintFunctionLibrary.gen.cpp
Intermediate/Build/Win64/UE4Editor/Development/ajdr/UE4Editor-ajdr.suppressed.lib
Intermediate/Build/Win64/UE4Editor/Development/ajdr/UE4Editor-ajdr.suppressed.exp
Intermediate/Build/Win64/UE4Editor/Development/ajdr/UE4Editor-ajdr.lib.response
Intermediate/Build/Win64/UE4Editor/Development/ajdr/UE4Editor-ajdr.lib
Intermediate/Build/Win64/UE4Editor/Development/ajdr/UE4Editor-ajdr.exp
Intermediate/Build/Win64/UE4Editor/Development/ajdr/UE4Editor-ajdr.dll.response.prev
Intermediate/Build/Win64/UE4Editor/Development/ajdr/UE4Editor-ajdr.dll.response
Intermediate/Build/Win64/UE4Editor/Development/ajdr/PCLaunch.rc.res
Intermediate/Build/Win64/UE4Editor/Development/ajdr/PCH.ajdr.h.pch.response.prev
Intermediate/Build/Win64/UE4Editor/Development/ajdr/PCH.ajdr.h.pch.response
Intermediate/Build/Win64/UE4Editor/Development/ajdr/PCH.ajdr.h.pch
Intermediate/Build/Win64/UE4Editor/Development/ajdr/PCH.ajdr.h.obj
Intermediate/Build/Win64/UE4Editor/Development/ajdr/PCH.ajdr.h
Intermediate/Build/Win64/UE4Editor/Development/ajdr/PCH.ajdr.cpp
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.8_of_8.cpp.obj.response.prev
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.8_of_8.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.8_of_8.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.8_of_8.cpp
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.7_of_8.cpp.obj.response.prev
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.7_of_8.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.7_of_8.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.7_of_8.cpp
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.6_of_8.cpp.obj.response.prev
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.6_of_8.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.6_of_8.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.6_of_8.cpp
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.5_of_8.cpp.obj.response.prev
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.5_of_8.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.5_of_8.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.5_of_8.cpp
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.4_of_8.cpp.obj.response.prev
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.4_of_8.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.4_of_8.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.4_of_8.cpp
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.3_of_8.cpp.obj.response.prev
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.3_of_8.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.3_of_8.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.3_of_8.cpp
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.2_of_8.cpp.obj.response.prev
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.2_of_8.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.2_of_8.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.2_of_8.cpp
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.1_of_8.cpp.obj.response.prev
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.1_of_8.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.1_of_8.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.gen.1_of_8.cpp
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.cpp.obj.response.prev
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.cpp.obj.response
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.cpp.obj
Intermediate/Build/Win64/UE4Editor/Development/ajdr/Module.ajdr.cpp
Intermediate/Build/Unused/ajdr.log
Intermediate/Build/BuildRules/ajdrModuleRulesSourceFiles.txt
Intermediate/Build/BuildRules/ajdrModuleRules.pdb
Intermediate/Build/BuildRules/ajdrModuleRules.dll
Intermediate/Build/ActionHistory.bin
Intermediate/AssetRegistryCache/f0d5030c.bin
Intermediate/AssetRegistryCache/c9e91a3f.bin
Intermediate/AssetRegistryCache/8e9331e2.bin
Intermediate/AssetRegistryCache/8c0e1344.bin
Intermediate/AssetRegistryCache/866581fd.bin
Intermediate/AssetRegistryCache/52ed2538.bin
Intermediate/AssetRegistryCache/50a675f9.bin
Intermediate/AssetRegistryCache/30e2b9c2.bin
Intermediate/AssetRegistryCache/2657c409.bin
Intermediate/AssetRegistryCache/1f683343.bin
Intermediate/AssetRegistryCache/12424d50.bin
Intermediate/ReimportCache/3688439234.bin
Intermediate/ProjectFiles/ajdr.vcxproj.user
Intermediate/ProjectFiles/ajdr.vcxproj.filters
Intermediate/ProjectFiles/ajdr.vcxproj
Intermediate/ProjectFiles/UE4.vcxproj.user
Intermediate/ProjectFiles/UE4.vcxproj.filters
Intermediate/ProjectFiles/UE4.vcxproj
Intermediate/Config/CoalescedSourceConfigs/XCodeSourceCodeAccess.ini
Intermediate/Config/CoalescedSourceConfigs/WmfMedia.ini
Intermediate/Config/CoalescedSourceConfigs/WindowsMoviePlayer.ini
Intermediate/Config/CoalescedSourceConfigs/VisualStudioSourceCodeAccess.ini
Intermediate/Config/CoalescedSourceConfigs/VisualStudioCodeSourceCodeAccess.ini
Intermediate/Config/CoalescedSourceConfigs/VegaThreads.ini
Intermediate/Config/CoalescedSourceConfigs/VaRestPlugin.ini
Intermediate/Config/CoalescedSourceConfigs/UnitTestStats.ini
Intermediate/Config/CoalescedSourceConfigs/UnitTest.ini
Intermediate/Config/CoalescedSourceConfigs/UdpMessaging.ini
Intermediate/Config/CoalescedSourceConfigs/UObjectPlugin.ini
Intermediate/Config/CoalescedSourceConfigs/TranslationPickerSettings.ini
Intermediate/Config/CoalescedSourceConfigs/TemplateDefs.ini
Intermediate/Config/CoalescedSourceConfigs/TcpMessaging.ini
Intermediate/Config/CoalescedSourceConfigs/SubversionSourceControl.ini
Intermediate/Config/CoalescedSourceConfigs/SteamVR.ini
Intermediate/Config/CoalescedSourceConfigs/SpeedTreeImporter.ini
Intermediate/Config/CoalescedSourceConfigs/SourceControlSettings.ini
Intermediate/Config/CoalescedSourceConfigs/Scalability.ini
Intermediate/Config/CoalescedSourceConfigs/RuntimePhysXCooking.ini
Intermediate/Config/CoalescedSourceConfigs/ProxyLODPlugin.ini
Intermediate/Config/CoalescedSourceConfigs/ProceduralMeshComponent.ini
Intermediate/Config/CoalescedSourceConfigs/PluginBrowser.ini
Intermediate/Config/CoalescedSourceConfigs/PhysXVehicles.ini
Intermediate/Config/CoalescedSourceConfigs/PerforceSourceControl.ini
Intermediate/Config/CoalescedSourceConfigs/PeExtendedToolKit.ini
Intermediate/Config/CoalescedSourceConfigs/Paper2D.ini
Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemUtils.ini
Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemNull.ini
Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemIOS.ini
Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystemGooglePlay.ini
Intermediate/Config/CoalescedSourceConfigs/OnlineSubsystem.ini
Intermediate/Config/CoalescedSourceConfigs/OculusVR.ini
Intermediate/Config/CoalescedSourceConfigs/NullSourceCodeAccess.ini
Intermediate/Config/CoalescedSourceConfigs/NetcodeUnitTest.ini
Intermediate/Config/CoalescedSourceConfigs/NUTUnrealEngine4.ini
Intermediate/Config/CoalescedSourceConfigs/MobilePatchingUtils.ini
Intermediate/Config/CoalescedSourceConfigs/MobileLauncherProfileWizard.ini
Intermediate/Config/CoalescedSourceConfigs/MeshEditor.ini
Intermediate/Config/CoalescedSourceConfigs/MediaPlayerEditor.ini
Intermediate/Config/CoalescedSourceConfigs/MediaCompositing.ini
Intermediate/Config/CoalescedSourceConfigs/MatineeToLevelSequence.ini
Intermediate/Config/CoalescedSourceConfigs/MagicLeapMedia.ini
Intermediate/Config/CoalescedSourceConfigs/MagicLeapEmulator.ini
Intermediate/Config/CoalescedSourceConfigs/MagicLeap.ini
Intermediate/Config/CoalescedSourceConfigs/MacGraphicsSwitching.ini
Intermediate/Config/CoalescedSourceConfigs/LocationServicesBPLibrary.ini
Intermediate/Config/CoalescedSourceConfigs/LocalizationServiceSettings.ini
Intermediate/Config/CoalescedSourceConfigs/LinuxDeviceProfileSelector.ini
Intermediate/Config/CoalescedSourceConfigs/LinearTimecode.ini
Intermediate/Config/CoalescedSourceConfigs/Lightmass.ini
Intermediate/Config/CoalescedSourceConfigs/LightPropagationVolume.ini
Intermediate/Config/CoalescedSourceConfigs/LevelSequenceEditor.ini
Intermediate/Config/CoalescedSourceConfigs/LauncherChunkInstaller.ini
Intermediate/Config/CoalescedSourceConfigs/KDevelopSourceCodeAccess.ini
Intermediate/Config/CoalescedSourceConfigs/InternationalizationExport.ini
Intermediate/Config/CoalescedSourceConfigs/Input.ini
Intermediate/Config/CoalescedSourceConfigs/ImmediatePhysics.ini
Intermediate/Config/CoalescedSourceConfigs/ImgMedia.ini
Intermediate/Config/CoalescedSourceConfigs/IOSDeviceProfileSelector.ini
Intermediate/Config/CoalescedSourceConfigs/Hardware.ini
Intermediate/Config/CoalescedSourceConfigs/HTML5Networking.ini
Intermediate/Config/CoalescedSourceConfigs/GoogleCloudMessaging.ini
Intermediate/Config/CoalescedSourceConfigs/GitSourceControl.ini
Intermediate/Config/CoalescedSourceConfigs/GeometryCache.ini
Intermediate/Config/CoalescedSourceConfigs/GameplayTagsList.ini
Intermediate/Config/CoalescedSourceConfigs/GameplayTagsEditor.ini
Intermediate/Config/CoalescedSourceConfigs/GameplayTags.ini
Intermediate/Config/CoalescedSourceConfigs/GameUserSettings.ini
Intermediate/Config/CoalescedSourceConfigs/Game.ini
Intermediate/Config/CoalescedSourceConfigs/FacialAnimation.ini
Intermediate/Config/CoalescedSourceConfigs/ExampleDeviceProfileSelector.ini
Intermediate/Config/CoalescedSourceConfigs/Engine.ini
Intermediate/Config/CoalescedSourceConfigs/Encryption.ini
Intermediate/Config/CoalescedSourceConfigs/EditorSettings.ini
Intermediate/Config/CoalescedSourceConfigs/EditorPerProjectUserSettings.ini
Intermediate/Config/CoalescedSourceConfigs/EditorLayout.ini
Intermediate/Config/CoalescedSourceConfigs/EditorKeyBindings.ini
Intermediate/Config/CoalescedSourceConfigs/Editor.ini
Intermediate/Config/CoalescedSourceConfigs/EditableMesh.ini
Intermediate/Config/CoalescedSourceConfigs/DeviceProfiles.ini
Intermediate/Config/CoalescedSourceConfigs/DatasmithContent.ini
Intermediate/Config/CoalescedSourceConfigs/DataValidation.ini
Intermediate/Config/CoalescedSourceConfigs/CustomMeshComponent.ini
Intermediate/Config/CoalescedSourceConfigs/CryptoKeys.ini
Intermediate/Config/CoalescedSourceConfigs/Crypto.ini
Intermediate/Config/CoalescedSourceConfigs/Compat.ini
Intermediate/Config/CoalescedSourceConfigs/CodeLiteSourceCodeAccess.ini
Intermediate/Config/CoalescedSourceConfigs/CharacterAI.ini
Intermediate/Config/CoalescedSourceConfigs/CableComponent.ini
Intermediate/Config/CoalescedSourceConfigs/CLionSourceCodeAccess.ini
Intermediate/Config/CoalescedSourceConfigs/BackChannel.ini
Intermediate/Config/CoalescedSourceConfigs/AvfMedia.ini
Intermediate/Config/CoalescedSourceConfigs/AudioCapture.ini
Intermediate/Config/CoalescedSourceConfigs/AssetManagerEditor.ini
Intermediate/Config/CoalescedSourceConfigs/ArchVisCharacter.ini
Intermediate/Config/CoalescedSourceConfigs/AppleVision.ini
Intermediate/Config/CoalescedSourceConfigs/AppleMoviePlayer.ini
Intermediate/Config/CoalescedSourceConfigs/AppleImageUtils.ini
Intermediate/Config/CoalescedSourceConfigs/AndroidPermission.ini
Intermediate/Config/CoalescedSourceConfigs/AndroidMoviePlayer.ini
Intermediate/Config/CoalescedSourceConfigs/AndroidMedia.ini
Intermediate/Config/CoalescedSourceConfigs/AndroidDeviceProfileSelector.ini
Intermediate/Config/CoalescedSourceConfigs/AlembicImporter.ini
Intermediate/Config/CoalescedSourceConfigs/ActorSequence.ini
Intermediate/Config/CoalescedSourceConfigs/AISupport.ini
Intermediate/CachedAssetRegistry.bin
Intermediate/Build/Win64/ajdrEditor/FlatCPPIncludes.bin
Intermediate/Build/Win64/ajdrEditor/Development/ajdrEditor.uhtmanifest
Intermediate/Build/Win64/ajdrEditor/Development/ajdrEditor.deps
Intermediate/Build/Win64/ajdrEditor/Development/UnrealEd/SharedPCH.UnrealEd.h.pch.response
Intermediate/Build/Win64/ajdrEditor/Development/UnrealEd/SharedPCH.UnrealEd.h.pch
Intermediate/Build/Win64/ajdrEditor/Development/UnrealEd/SharedPCH.UnrealEd.h.obj
Intermediate/Build/Win64/ajdrEditor/Development/UnrealEd/SharedPCH.UnrealEd.h
Intermediate/Build/Win64/ajdrEditor/Development/UnrealEd/SharedPCH.UnrealEd.cpp
Intermediate/Build/Win64/ajdrEditor/Development/Makefile.ubt
Intermediate/Build/Win64/ajdrEditor/Development/Engine/SharedPCH.Engine.h.pch.response
Intermediate/Build/Win64/ajdrEditor/Development/Engine/SharedPCH.Engine.h.pch
Intermediate/Build/Win64/ajdrEditor/Development/Engine/SharedPCH.Engine.h.obj
Intermediate/Build/Win64/ajdrEditor/Development/Engine/SharedPCH.Engine.h
Intermediate/Build/Win64/ajdrEditor/Development/Engine/SharedPCH.Engine.cpp
Intermediate/Build/Win64/ajdrEditor/Development/Deploy.dat
Intermediate/Build/Win64/ajdrEditor/DependencyCache.bin
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ajdrClasses.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/ajdr.init.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/Wall_Boolean_Base.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/Wall_Boolean_Base.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/WallNode.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/WallNode.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/WallLinkage.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/WallLinkage.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/WallData.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/WallData.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/WallBuildSystem.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/WallBuildSystem.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/UnknownNode.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/UnknownNode.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/Timestamp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/TextLabelData.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/TextLabelData.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SurfaceFile.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SurfaceFile.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/Struct.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/Struct.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/StandardMaterialCollection.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/StandardMaterialCollection.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SolidGeometryFunctionLibrary.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SolidGeometryFunctionLibrary.gen.cpp
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SkirtingSystem.generated.h
Intermediate/Build/Win64/UE4Editor/Inc/ajdr/SkirtingSystem.gen.cpp
Saved/
Binaries/
Build/
.vs/
Intermediate/
Plugins/BuildingSDK
DerivedDataCache/
Plugins/DrDataEx/Source/ThirdParty
Plugins/BuildingSDK/Source/ThirdParty

