.vs/
Intermediate/
Saved/
Binaries/
Build/
DerivedDataCache/
Plugins/BuildingSDK/Source/ThirdParty/BuildingSDKLibrary/Thridparty
Plugins/BuildingSDK/Source/ThirdParty/BuildingSDKLibrary/x64
Plugins/DrDataEx/Source/ThirdParty


